<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="/scripts/primus.js"></script>
        <script type="text/javascript"
                src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
        <script type="text/javascript">
        $(window.document).ready(function() {
        var socket = new Primus('//' + window.document.location.host)
            socket.on('error', function(error) { console.error(error) })

            socket.on('open', function() {
                console.log('Connected')
            })

            socket.on('timeout', function(reason) {
                console.error('Connection failed: ' + reason)
            })

            socket.on('end', function() {
                console.log('Socket connection closed')
                socket = null
            })
        })
        </script>
    </head>
    <body>
        <h1>Welcome to my XMPP-FTW project</h1>

        <p>Please see <a href="https://github.com/xmpp-ftw/skeleton-project.git">github</a> for more information.</p>

        <h2>Getting started</h2>

        <p>To quickly get started perform the following actions:</p>

        <code>
            git clone git@github.com:xmpp-ftw/skeleton-project.git<br/>
            cd skeleton-project<br/>
            npm i .<br/>
            npm start &amp;<br/>
            open http://localhost:3000
        </code>

        <h2>Adding additional XMPP-FTW modules</h2>

        <p>To use the additional module you wish to use do the following:</p>

        <code>
            npm i --save xmpp-ftw-&lt;project&gt;
        </code>

        <p>Then add the following call at <a href="https://github.com/xmpp-ftw/skeleton-project/blob/master/index.js#L48"><strong>line 48</strong> in <em>index.js</em></a>:</p>

        <code>
            var Module = require('xmpp-ftw-&lt;project&gt;')<br/>
            xmppFtw.addListener(new Module())
        </code>

        <h2>Example</h2>

        <p>The code anonymously connects to <a href="http://buddycloud.com">Buddycloud.com</a> and pulls the latest 5 posts from the development channel.</p>

        <p>Please see the source of this file for an example.</p>

        <h3>Posts</h3>

        <p class="posts"><em>Will appear here</em></p>

    </body>
</html>